$white:#fff;
$grey:#989898;
$black:#000;
$black-light:#131313;
$black-lighter:#232323;
$yellow:#ffdb44;
$golden: #ffba0b;
$golden-light:#ffe88a;
$golden-dark:#d6af00;
$redish: #ff521d;

$base-font-family: 'DM Sans',sans-serif;
