@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins&display=swap');

@import './style-config/mixins.scss','./style-config/variable.scss';

*{
    margin: 0;
    padding: 0;
    font-family: $base-font-family;
    box-sizing: border-box;
    --webkit-font-smoothing : antialiased;
}

p{
    @include typography(18px,400,24px);
}

h2{
    @include typography(42px,700,1.2);
}

h3{
    @include typography(26px,600,1.2);
}

h4{
    @include typography(22px,600,1.2);
}

// body{
//     height: 2000px;
// }

.header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: $golden;

    /* The progress container (grey background) */
    .progress-container {
        width: 100%;
        height: 8px;
        background: $white;
    
        /* The progress bar (scroll indicator) */
        .progress-bar {
            height: 8px;
            background: $golden;
            width: 0%;
            border-radius: 10px 5px;
        }
    
    }
}


